<h2>Editing a diary entry</h2>
<%= render partial: "form", locals: { entry: @entry } %>
<p><%= link_to("Back to this entry", entry_path(@entry), class: "btn btn-default") %></p>
<p><%= link_to("Back to all entries", entries_path, class: "btn btn-default") %></p>